//get old aligment of repost-like-comment elements
.post_full_like_wrap
  display flex
  justify-content space-between

.reply_link_wrap
  order 0

.post_full_like
  order 1
  display flex
  justify-content space-between

.post_full_like .post_share
  order 0

.post_full_like .post_like
  order 1

