//change messages and communities align in sidebar menuv
//@TODO add this
/*
#side_bar ol
  display flex
  flex-direction column

#side_bar ol li
  order initial

#side_bar #l_pr
  order 0
#side_bar #l_nwsf
  order 1
#side_bar #l_msg
  order 4
#side_bar #l_fr
  order 3
#side_bar #l_gr
  order 2
#side_bar #l_ph
  order 5
#side_bar #l_aud
  order 6
#side_bar #l_vid
  order 7
#side_bar #l_ap
  order 8
#side_bar #l_fav
  order 9
#side_bar #l_doc
  order 10
#side_bar #l_ads
  order 11
#side_bar #l_apm
  order 12

#side_bar .l_comm
  order initial

#side_bar .l_main
  order initial

*/