//make header like in old VK
//add border radius
#page_header_cont .back
  border-radius 0 0 10px 10px !important

//change width
#page_header
  width auto !important
  margin 0 !important

#page_header_wrap
#page_header_cont .back
  @media screen and (max-width 1350px)
    width 100% !important
  @media screen and (min-width 1350px)
    width 80% !important
    max-width 1080px

#page_header_cont
  @media screen and (min-width 1350px)
    left calc((100% - 1080px) / 2) !important
