img, .ow_ava.ow_ava_small, .friends_photo_img, .group_row_photo, .group_row_img {
    border-radius: 0% !important;
}

.audio_page_player_play .icon, .audio_play, .slider .slider_handler{
    border-radius: 50% !important;
}

body{
    background: none !important;
}


.ui_search, .audio_rows_header{
    position: static !important;
}

.page_block{
    padding-top: 0 !important;
}

.im-page--dialogs{
    padding: 45px 0 !important;
}

#page_header_wrap{
    width: auto !important;
}

#page_header_cont{
    float: left;
    position: static !important;
}

#page_layout{
    padding: 0 !important;
}

#side_bar{
//padding-left: 15px;
    position: fixed;
}

#side_bar_inner{
    bottom: auto !important;
    position: fixed !important;
    margin-top: 42px !important;
    z-index: 3;
}

#stl_side, #friends_possible_block, #groups_filters_wrap{
    display: none !important;
}

#page_body{
//margin-left: 15px;
    margin-top: 0px;
}

#side_bar_inner{
//margin-top: 0px !important;
}

#page_header{
    margin: 0;
}

.back{
    border-radius: 0 0 10px 10px !important;
}

.im-page--header-chat{
    top: 0 !important;
}