@import "../no-rounds.styl"

//fix round borders in chats
.nim-peer .nim-peer--photo-w
.im_grid > img
.nim-peer--photo > img
//fixed chat
img.fc_contact_photo
a.fc_msgs_img
.chat_tab_img
  {no-rounds}