@import "../no-rounds.styl"

//fix round borders in chats
.nim-peer .nim-peer--photo-w
.im_grid > img
.nim-peer--photo > img
//fixed chat
img.fc_contact_photo
a.fc_msgs_img
.chat_tab_img
//write message popups
.mail_box_single_ava .mail_box_single_ava_img
//group chat page
.im-member-item .im-member-item--photo img
.im-member-item .im-member-item--photo
  {no-rounds}