@import "../no-rounds.styl"

//following pages list
.fans_idolph_wrap
//group management
.group_u_photo_img
.group_al_thumb
.group_l_photo
.group_l_photo_img
.ui_ownblock_img
//groups page
.group_row_photo
.group_row_img
//group page
.module_body .people_cell_img
.page_list_module .cell_img
.page_list_module .thumb
  {no-rounds}