@import "../no-rounds.styl"

//notification popup
.notifier_image
//notifications photos
.feedback_group_photo_img
.feedback_sticky_img
//notifications
.feedback_sticky_icon
.top_notify_cont .feedback_img
//notification balloon
#side_bar ol li .left_row:hover .left_count_wrap
.font_medium .left_count_wrap
.font_medium #side_bar ol li .left_row:hover .left_count_wrap
.left_count_wrap
  {no-rounds}