//mark new messages with color
.nim-dialog_unread-out
  background #f5f7fa

.im-mess.im-mess_selected:last-child:before, .im-mess.im-mess_unread, .im-mess.im-mess_unread:last-child:before, .nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text, .nim-dialog.nim-dialog_classic.nim-dialog_unread-out.nim-dialog_muted .nim-dialog--inner-text, .nim-dialog_unread
  background #e0e7f0 !important

#im_rows .dialogs_new_msg
  background #dddddd !important

#im_rows .dialogs_new_msg a
  color #4444aa !important
