//hide annoying and useless shit
#friends_possible_block
#groups_filters_wrap
#feed_recommends
#group_recom_wrap
//header for recommended groups
a.right_list_header
//hide ads
#ads_left
  display none !important