//make header like in old VK
.back
  border-radius 0 0 10px 10px !important

#page_header
  margin 0 !important

#page_header_wrap
.back
  width 80% !important

#page_header_cont
  left 10% !important