//make header like in old VK
#page_layout .back
  border-radius 0 0 10px 10px !important

#page_layout #page_header
  margin 0 !important

#page_layout #page_header_wrap
#page_layout .back
  width 80% !important

#page_layout #page_header_cont
  left 10% !important