//add normal counter for notifications
.inl_bl .left_count
  display block

.left_count:before
  content "+"

#side_bar ol li .left_rowhover .left_count_wrap
  padding 4px 6px
  margin 2px 0 2px 2px


//fix colors for notifications balloon
#side_bar ol li .left_rowhover .left_count_wrap
.font_medium .left_count_wrap
.font_medium #side_bar ol li .left_rowhover .left_count_wrap
.left_count_wrap
  background #6a8fb8 !important